@page "/config"
@inject MicrosoftTeams MicrosoftTeams;
@inject NavigationManager NavigationManager;
@using TeamsApp_WebCulture;

<div class="config page" id ="tab config">
        <h1>Tab Configuration</h1>
        <p>
            This is where you will add your tab configuration options the user 
            can choose when the tab is added to your team/group chat.
        </p>
    <Search OnSelectItem="SetSelectedResult"/>
</div>

@code {

    private Guid _entityId = Guid.NewGuid();
    private SearchModel _selectedItem { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            var settings = new TeamsInstanceSettings
            {
                SuggestedDisplayName = "My Tab",
                EntityId = _entityId.ToString(),
                ContentUrl = $"{NavigationManager.BaseUri}/tab"+"?culture={locale}",
                WebsiteUrl = $"{NavigationManager.BaseUri}/tab" + "?culture={locale}"
            };

            await MicrosoftTeams.InitializeAsync();
            await MicrosoftTeams.RegisterOnSaveHandlerAsync(settings);
        }
    }

    private void SetSelectedResult(SearchModel selectedItem)
    {
        _selectedItem = selectedItem;
    }
}
