.center[b-1qzpnnxoi9] {
    text-align: center;
    color: #424242;
}

.container[b-1qzpnnxoi9] {
    height: 100%;
    background: white;
    width: 100%;
    overflow: hidden;
}

.filter-options[b-1qzpnnxoi9] {
    position: relative;
    min-width: 150px;
    width: 30%;
    float: right;
    margin: auto;
    vertical-align: middle;
    z-index: 2;
    background: white;
    color: #424242;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0.5px solid #f0f0f0;
    margin-left: 2vh
}

.filter-wrapper[b-1qzpnnxoi9] {
    list-style-type: none;
    z-index: 2;
    padding: 0 0 10px 6px;
}

.searchBoxContainer[b-1qzpnnxoi9] {
    position: relative;
    width: 100%;
    height: 35px;
    border-width: 0 0 2px;
    border-color: transparent;
    border-radius: 5px;
    padding: 10px 0 0 2vh;
    float: left;
}

    .searchBoxContainer:focus[b-1qzpnnxoi9] {
        border-bottom: 2px solid rgb(100, 103, 165);
    }

.searchBox[b-1qzpnnxoi9] {
    width: 65%;
    background: #f3f2f1;
    float: left;
    border-radius: 4px;
}

    .searchBox > input[b-1qzpnnxoi9] {
        width: 90%;
        height: 34px;
        background: transparent;
        border: none;
        outline: none;
        padding: 0 0 0 2vh
    }

.searchBoxIcon[b-1qzpnnxoi9] {
    position: relative;
    float: right;
    display: inline;
    width: 10%;
    max-height: 30px;
    padding-top: 6px;
}

.filterContainer[b-1qzpnnxoi9] {
    position: relative;
    width: 30%;
    height: 35px;
    background: #f3f2f1;
    color: #424242;
    border-width: 0 0 2px;
    border-radius: 4px;
    border-color: transparent;
    margin-left: 2vh;
    float: right;
    display: inline;
}

.filterOptionsContainer[b-1qzpnnxoi9] {
    position: relative;
    width: 100%;
    height: 35px;
    border-width: 0 0 2px;
    border-color: transparent;
    border-radius: 5px;
    padding: 10px 0 0 2vh;
    float: left;
}

.filterContainerButton[b-1qzpnnxoi9] {
    position: relative;
    width: 80%;
    height: 100%;
    text-align: left;
    color: rgb(117, 117, 117);
    padding: 0 0 0 15px;
}

.filterContainerIcon[b-1qzpnnxoi9] {
    position: relative;
    float: right;
    display: inline;
    width: 20%;
    max-height: 30px;
    padding-top: 6px;
}

.filterHeaders[b-1qzpnnxoi9] {
    font-weight: bold;
    padding: 5px 0px 5px 0px;
}

.filterItems[b-1qzpnnxoi9] {
    padding: 1px 0 1px 2px;
    font-size: smaller;
}

    .filterItems td[b-1qzpnnxoi9] {
        padding-right: 4px;
    }

.filterCheckbox[b-1qzpnnxoi9] {
    vertical-align: middle;
    display: inline-block;
}

.results[b-1qzpnnxoi9] {
    position: relative;
    height: 90vh;
    color: #424242;
    overflow-wrap: break-word;
    overflow: scroll;
    width: 100%;
    padding: 10px 0 0 2vh;
}

.result-wrapper[b-1qzpnnxoi9] {
    display: flex;
    padding-top: 1vh;
    flex-direction: column;
    flex-wrap: wrap;
    height: 70px;
    list-style-type: none;
    border: 1px solid #f3f2f1;
}

    .result-wrapper img[b-1qzpnnxoi9] {
        height: 90%;
    }

.result-selected[b-1qzpnnxoi9] {
    display: flex;
    padding-top: 1vh;
    flex-direction: column;
    flex-wrap: wrap;
    height: 70px;
    list-style-type: none;
    background-color: #f3f2f1;
}

.result-wrapper:hover[b-1qzpnnxoi9] {
    background-color: #f3f2f1;
}

.result-a[b-1qzpnnxoi9] {
    padding-left: 10px;
    margin-right: 30px;
    flex: 0 0 100%;
    width: 8%;
    height: 100%;
    float: left;
}

    .result-a img[b-1qzpnnxoi9] {
        height: 80%;
    }

.result-right[b-1qzpnnxoi9] {
    float: right;
    width: 90%;
}

.result-b[b-1qzpnnxoi9] {
    font-weight: bold;
    font-size: small;
    height: 28%;
    width: 80%;
    padding-bottom: 12px;
    order: 1;
    display: inline;
    overflow: hidden;
}

.result-c[b-1qzpnnxoi9] {
    font-size: smaller;
    height: 70%;
    order: 2;
}

.resultTag[b-1qzpnnxoi9] {
    font-weight: 600;
}

button[b-1qzpnnxoi9], button:focus[b-1qzpnnxoi9] {
    outline: none;
    background: transparent;
    border: 1px solid transparent;
}

    button:active[b-1qzpnnxoi9] {
        outline: none;
        background: transparent;
        border: 1px solid white;
    }
